name: MERN Docker CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    # Setup Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Login to DockerHub
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build & push BACKEND image
    - name: Build & push backend image
      uses: docker/build-push-action@v4
      with:
        context: ./Server
        file: ./mern-docker/Dockerfile.backend
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/mern-backend:latest

    # Build & push FRONTEND image
    - name: Build & push frontend image
      uses: docker/build-push-action@v4
      with:
        context: ./to_do_list
        file: ./mern-docker/Dockerfile.frontend
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/mern-frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd ~/mern-app/mern-docker
          docker-compose pull
          docker-compose up -d --remove-orphans
